
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&family=Protest+Strike&display=swap');
body{
    margin: 0;
    padding: 0;
}
.off{
    font-family: "Protest Strike", serif;
  font-weight: auto;
  font-style: normal;
  color: white;
  background-color: #3B5249;
  text-align: center;
  height: 22px;
  padding-top:3px ;

}

.logo{
    width: 150px;
    justify-self: flex-start;

}
.nav_bar {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
}
.nav_bar a {
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 24px 0;
    border-bottom: 5px solid #ffffff;
}
.nav_bar a:hover {
    border-bottom: 4px solid rgb(0, 84, 0)
}
.logo{
    margin-left: 4%;
    

}
.logo-1{
    width: 170px;
    padding-top:10px ;
}
.nav-cont{
    display: flex;
    justify-content: space-between;
}
.head-1,.head-2{
    margin: 0px;
    padding: 0px;
    text-align: center;

}
.head-1{
    font-size: 43px;
    color: #3B5249;
}
.head-2{
    color: #5a7000;
}

/**/
.item-img{
    width: 20vw;
    height: 245px;
}
.item-name{
    font-size: 15px;
}
.prices{
    padding: 0px;
    margin: -1px;
    margin-top: -14px;
    display: flex;
    align-items: baseline;
    
}
.price{
    font-size: 15px;
    text-decoration: line-through;
    font-style: italic;



}
.price2{
    font-size: 18px;
    font-style: italic;
    border-left: 15px solid transparent;

}
.cart{
    height: 40px;
    width: 150px;
    border: none;
    border: 1px solid;
    border-radius: 20px;
    color:#5a7000
}
.cart:hover{
    border: 2px solid;
    cursor: pointer;
}
.container{

    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.items{
    margin: 10px;
}
{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#containerFooter
{
    width: 100%;
    background-color: rgb(29, 29, 29);
    color: white;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 300px;
    box-sizing: border-box;
}
#containerFooter h3:hover, #containerFooter p:hover
{
    color: lightslategray;
    cursor: pointer;
}
#webFooter
{
    padding-top: 30px;
    font-size: 12px;
}
#credit 
{
    width: 100%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 11px;
    letter-spacing: 1px;
}

#credit a
{
    color: white;
    text-decoration: none;
    position: relative;
}


@media(max-width: 1350px)
{
    #containerFooter
    {
        padding: 15px 200px;
    }
}
@media(max-width: 1166px)
{
    #containerFooter
    {
        padding: 15px 100px;
    }
}
{
    #containerFooter
    {
        padding: 15px 50px;
    }
}
@media(max-width: 850px)
{
    #containerFooter
    {
        font-size: 13px;
    }
    #webFooter
    {
        font-size: 10px;
    }
}
{
    #containerFooter
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px 100px;
    }
    #webFooter
    {
        padding: 15px 20px;
    }
}
{
    #containerFooter
    {
        padding: 0 25px;
    }
}

.item-img{
    transition: 1s;
}
.item-img:hover{
    transform: scale(1.2);
}